.project-shadow,
.breadcrumbs-container,
.block {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.clean-padding-and-margin,
.block .block-user h5,
.submenu {
  padding: 0 !important;
  margin: 0 !important;
}
html,
body {
  font-family: CleanVel;
  background-color: #f5f5f5;
  overflow-x: hidden;
  padding-bottom: 53px;
}
span {
  display: block;
}
header .top-nav li img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-top: -15px;
  margin-bottom: -15px;
}
.breadcrumbs-container {
  background-color: #fff;
}
.block {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 3px;
  overflow: hidden;
}
.block .block-title {
  font-size: 18px;
}
.block .block-user {
  margin: 25px auto;
}
.block .main-nav {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
}
.block .main-nav li a {
  border-radius: 0 !important;
  font-weight: bold;
  color: #333;
  transition-duration: .2s;
  -o-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
}
.block .main-nav li.active a {
  background-color: #26A69A !important;
  color: #fff;
}
.page {
  margin-top: 20px;
}
.page h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
.img-sm {
  width: 56px;
  height: 56px;
}
.submenu li a {
  padding-left: 40px;
}
.login-form {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -230px;
  margin-left: -178px;
}
.login-form .login-icon {
  width: 90px;
  height: 90px;
  border: 3px solid;
  border-radius: 50%;
  font-size: 55px;
  color: #90A4AE;
  text-align: center;
  padding-top: 11px;
}
footer {
  width: 100%;
  padding: 15px;
  position: fixed;
  z-index: 2;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #ddd;
}
.terminal-status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: right;
}
