@charset "UTF-8";

.navbar-inverse {
    background-color: #37474F;
    border-color: #37474F;
    border-radius: 0;
    margin-bottom: 0;
}

.breadcrumb {
    background: transparent;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb > li > a {
    color: #333;
}

.breadcrumb > .active {
    color: #999;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #2f3c42;
}

.btn-primary, .btn-warning, .btn-danger, .btn-default, .btn-success {
    padding: 10px 15px;
}

.btn-primary {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}

.bg-slate {
    background-color: #607D8B;
    border-color: #607D8B;
    color: #fff;
    overflow: hidden;
    margin-bottom: 20px;
}

.bg-slate > li > a {
    border: 0;
    border-radius: 0;
    color: #fff;
}

.bg-slate > li.active > a, .bg-slate > li.active > a:hover, .bg-slate > li.active > a:focus {
    border: 0;
    background-color: #57727d;
    color: #fff;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: #5b7682;
    border-radius: 0;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 0;
    border-radius: 0;
}
