@charset "UTF-8";
/* При печати билета ставим отступ справа */
@media print {
  #ticket .media-body {
    padding-right: 27px;
  }
}
.complete-ticket {
  position: absolute;
  z-index: 1;
  right: 0;
  margin-right: 150px;
  bottom: 0;
  margin-bottom: 85px;
}
#ticket {
  background-color: #fff;
  position: relative;
}
#ticket p {
  margin: 0;
  padding: 0;
}
#ticket h5 {
  line-height: 20px;
}
#ticket .ticket-title {
  line-height: 23px;
  margin-bottom: 0;
  padding-bottom: 0;
}
#ticket #barcode {
  margin-left: -48px;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
#ticket #barcode div:last-child {
  font-size: 12px !important;
}
